
.container-1{
   background: linear-gradient(#C9B898, #3A3424);
   height: auto;
   padding-bottom: 10rem;
}


.list{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   padding-bottom: 10px;
   border-bottom: #17130a1e solid;
}

.list__title{
   display: flex;
   padding: 1rem;
}

.list button{
   margin-top: 10px;
   margin-right: 10px ;
}
.list h6{
   margin-left: 10px ;
}


.list:hover{
   color: #3A3424;
   font-weight: bold;
   background-color: #3a342414;
   cursor: pointer;
   border-radius: 10px;
}

/* cinemas-page */

.box-cinemas__header{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.box-cinemas__header h1{
   color: white;
}

.box-cinemas__header button{
   border-radius: 50%;
   width: 50px;
   height: 50px;
}

.box-create{
   background-color: white;
   height: auto;
   border-radius: 30px;
}



