.bg{
   height: 500px;
}

.bg-1{
   background: linear-gradient(#C9B898, #3A3424);
   height: 500px;
}
.bg-2{
   background: #222529;
   height: 20em;

   /* height: 100%; */
}

.list__item{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   padding-bottom: 10px;
   border-bottom: #17130a1e solid;
   
}

.list__item  button{
   margin-top: 10px;
   margin-right: 10px ;
}
.list__item h6{
   margin-left: 10px ;
}
.accordion-button:not(.collapsed){
   background-color: #3A3424;
}


.list__item:hover{
   color: #3A3424;
   font-weight: bold;
   background-color: #3a342414;
   cursor: pointer;
   border-radius: 10px;
}

.veiw__header{
   display: flex;
   justify-content: space-between;
}

.veiw__header h1{
   color: white;
}

.veiw__header button{
   border-radius: 50%;
   width: 50px;
   height: 50px;
}



