.bg-start{
   background: linear-gradient(#C9B898, #3A3424);
   height: 600px;
}

.fragment-Homepage{
   background-color: #17130A;
   height: 600px;

}

.form-user{
   background-color: #C9B898;
   width: 20px;
}